@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

body {
     margin: 0;
     display: flex;
     background-color: #eee;
     color: #111;
     font-family: "Open sans", "Seoge UI", sans-serif;
     justify-content: center;
     height: 100vh;
}

@media (prefers-color-scheme: dark) {
     body {
          background-color: #1a1a1a;
          color: #eee;
     }
}